<div class="container">
    <mat-toolbar>
        <span>Travels</span>
        <div class="example-spacer"></div>
        <button mat-raised-button routerLink="/dashboard/create-travel">Add travel</button>

    </mat-toolbar>

    <div *ngIf="travel.length > 0">
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="travelFilter($event)" placeholder="Search by keywords" #input>
        </mat-form-field>

        <div class="mat-elevation-z8">

            <table mat-table [dataSource]="dataSourceTravel" matSort>

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- id Column -->
                <ng-container matColumnDef="id_travel">
                    <th mat-header-cell *matHeaderCellDef> Id. </th>
                    <td mat-cell *matCellDef="let element"> {{element.id_travel}} </td>
                </ng-container>

                <!-- Country Column -->
                <ng-container matColumnDef="country">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
                    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
                </ng-container>

                <!-- City Column -->
                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
                    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>

                <!-- Budget Column -->
                <ng-container matColumnDef="budget">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Budget </th>
                    <td mat-cell *matCellDef="let element"> {{element.budget}} </td>
                </ng-container>

                <!-- Comment Column -->
                <ng-container matColumnDef="comment">
                    <th mat-header-cell *matHeaderCellDef> Comment </th>
                    <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
                </ng-container>

                <!-- Contact Column -->
                <ng-container matColumnDef="contact">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
                    <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
                </ng-container>

                <!-- Active Column -->
                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef> Active </th>
                    <td mat-cell *matCellDef="let element"> {{element.active}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th id="actions-head" mat-header-cell *matHeaderCellDef> Actions </th>

                    <td id="actions" mat-cell *matCellDef="let element">

                        <a class="pointer action-search" matTooltip="Travel details">
                            <mat-icon>search</mat-icon>
                        </a>
                        <a class="pointer action-edit" matTooltip="Edit travel">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <a class="pointer action-delete" (click)="deleteTravel(element.id_travel)"
                            matTooltip="Delete travel">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>

    </div>

    <div>
        <h2 *ngIf="travel.length === 0">Ups, nothing here!</h2>
    </div>
</div>