<mat-toolbar color="primary">
    <span>App/travels</span>
    <span class="example-spacer"></span>
    <button mat-button *ngFor="let item of menu" [routerLink]="item.redirect">{{item.name}}</button>

    <!-- <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/dashboard/travels">Travels</button>
    <button mat-button routerLink="/dashboard/reports">Reports</button> -->
    
    <span class="example-spacer"></span>
    <button routerLink="/logout" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>