<div class="body">
    <div class="login">

        <mat-spinner *ngIf="loading" class="spinner-login" diameter="50"></mat-spinner>

        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="handleLogin()">
            <img src="./assets/img/login.png" alt="login passaport image" />
            <h1>Login</h1>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email" />
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" />
            </mat-form-field>
            <br />
            <button type="submit" class="form-field button-login" mat-raised-button color="primary"
                [disabled]="form.invalid">
                Login!
            </button>
        </form>
    </div>
</div>