<h2>Travels</h2>

<div>
    <h3>All travels</h3>

    <div *ngIf="travels.length != 0">
        <ul>
            <li *ngFor="let travel of travels">
                <mat-card class="card_travel">

                    <mat-card-header>{{travel.country }}</mat-card-header>

                    <mat-card-subtitle>{{travel.city}}</mat-card-subtitle>

                    <mat-card-content>{{travel.comment}}</mat-card-content>

                    <mat-card-actions>
                        <button mat-button>
                            <a routerLink="/travel/{{travel.id_travel}}"> Go travel details!
                            </a>
                        </button>

                    </mat-card-actions>

                </mat-card>
            </li>
        </ul>
    </div>

    <div *ngIf="travels.length === 0">
        <p>Loading travel!</p>
        
    </div>
</div>